body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    position: relative;
    z-index: 2;

    nav {
        ul {
            li {

                a {
                    border: 3px solid #fff;

                    &:hover {
                        background-color: #ffd700;
                        border-radius: 3%;
                    }
                }
            }
        }
    }
}